n8n/workflows/etl_medical_appointments.json
{
  "name": "ETL Medical Appointments",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "trigger",
      "name": "Start ETL"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- =============================================\n-- STAGING: Create tables\n-- =============================================\nDROP TABLE IF EXISTS stg_appointments CASCADE;\nDROP TABLE IF EXISTS stg_patients CASCADE;\nDROP TABLE IF EXISTS stg_slots CASCADE;\n\nCREATE TABLE stg_patients (\n    patient_id      VARCHAR(10),\n    name            VARCHAR(60),\n    sex             VARCHAR(15),\n    dob             VARCHAR(20),\n    insurance       VARCHAR(50),\n    load_ts         TIMESTAMP DEFAULT NOW()\n);\n\nCREATE TABLE stg_slots (\n    slot_id           VARCHAR(10),\n    appointment_date  VARCHAR(20),\n    appointment_time  VARCHAR(20),\n    is_available      VARCHAR(10),\n    load_ts           TIMESTAMP DEFAULT NOW()\n);\n\nCREATE TABLE stg_appointments (\n    appointment_id        VARCHAR(10),\n    slot_id               VARCHAR(10),\n    scheduling_date       VARCHAR(20),\n    appointment_date      VARCHAR(20),\n    appointment_time      VARCHAR(20),\n    scheduling_interval   VARCHAR(10),\n    status                VARCHAR(20),\n    check_in_time         VARCHAR(20),\n    appointment_duration  VARCHAR(20),\n    start_time            VARCHAR(20),\n    end_time              VARCHAR(20),\n    waiting_time          VARCHAR(20),\n    patient_id            VARCHAR(10),\n    sex                   VARCHAR(15),\n    age                   VARCHAR(10),\n    age_group             VARCHAR(10),\n    load_ts               TIMESTAMP DEFAULT NOW()\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [250, 0],
      "id": "stg-create",
      "name": "1. Create STG Tables",
      "credentials": {
        "postgres": {
          "id": "stg",
          "name": "Postgres STG"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- =============================================\n-- STAGING: Load CSVs\n-- =============================================\nCOPY stg_patients(patient_id, name, sex, dob, insurance) \n    FROM '/data/patients.csv' WITH CSV HEADER;\n\nCOPY stg_slots(slot_id, appointment_date, appointment_time, is_available) \n    FROM '/data/slots.csv' WITH CSV HEADER;\n\nCOPY stg_appointments(appointment_id, slot_id, scheduling_date, appointment_date,\n    appointment_time, scheduling_interval, status, check_in_time, appointment_duration,\n    start_time, end_time, waiting_time, patient_id, sex, age, age_group) \n    FROM '/data/appointments.csv' WITH CSV HEADER;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [500, 0],
      "id": "stg-load",
      "name": "2. Load CSVs to STG",
      "credentials": {
        "postgres": {
          "id": "stg",
          "name": "Postgres STG"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- =============================================\n-- DWH: Create Schema\n-- =============================================\nDROP TABLE IF EXISTS fact_appointment CASCADE;\nDROP TABLE IF EXISTS dim_patient CASCADE;\nDROP TABLE IF EXISTS dim_insurance CASCADE;\nDROP TABLE IF EXISTS dim_status CASCADE;\nDROP TABLE IF EXISTS dim_age_group CASCADE;\nDROP TABLE IF EXISTS dim_time CASCADE;\nDROP TABLE IF EXISTS dim_date CASCADE;\n\n-- dim_date\nCREATE TABLE dim_date (\n    date_key        INTEGER PRIMARY KEY,\n    full_date       DATE NOT NULL UNIQUE,\n    day_of_week     SMALLINT NOT NULL,\n    day_name        VARCHAR(10) NOT NULL,\n    day_of_month    SMALLINT NOT NULL,\n    day_of_year     SMALLINT NOT NULL,\n    week_of_year    SMALLINT NOT NULL,\n    month_num       SMALLINT NOT NULL,\n    month_name      VARCHAR(10) NOT NULL,\n    quarter         SMALLINT NOT NULL,\n    year            SMALLINT NOT NULL,\n    is_weekend      BOOLEAN NOT NULL,\n    is_weekday      BOOLEAN NOT NULL\n);\n\n-- dim_time\nCREATE TABLE dim_time (\n    time_key         INTEGER PRIMARY KEY,\n    full_time        TIME NOT NULL UNIQUE,\n    hour_24          SMALLINT NOT NULL,\n    hour_12          SMALLINT NOT NULL,\n    minute           SMALLINT NOT NULL,\n    period           VARCHAR(2) NOT NULL,\n    time_slot        VARCHAR(15) NOT NULL,\n    day_period       VARCHAR(15) NOT NULL,\n    is_business_hour BOOLEAN NOT NULL\n);\n\n-- dim_status\nCREATE TABLE dim_status (\n    status_key      SERIAL PRIMARY KEY,\n    status_code     VARCHAR(20) NOT NULL UNIQUE,\n    status_name     VARCHAR(30) NOT NULL,\n    status_category VARCHAR(20) NOT NULL,\n    is_completed    BOOLEAN NOT NULL,\n    is_no_show      BOOLEAN NOT NULL\n);\n\n-- dim_age_group\nCREATE TABLE dim_age_group (\n    age_group_key   SERIAL PRIMARY KEY,\n    age_group_code  VARCHAR(10) NOT NULL UNIQUE,\n    age_min         SMALLINT NOT NULL,\n    age_max         SMALLINT NOT NULL,\n    age_bracket     VARCHAR(20) NOT NULL,\n    sort_order      SMALLINT NOT NULL\n);\n\n-- dim_insurance\nCREATE TABLE dim_insurance (\n    insurance_key   SERIAL PRIMARY KEY,\n    insurance_name  VARCHAR(50) NOT NULL UNIQUE\n);\n\n-- dim_patient\nCREATE TABLE dim_patient (\n    patient_key     SERIAL PRIMARY KEY,\n    patient_id      VARCHAR(10) NOT NULL UNIQUE,\n    patient_name    VARCHAR(60) NOT NULL,\n    sex             VARCHAR(15) NOT NULL,\n    date_of_birth   DATE NOT NULL,\n    insurance_key   INTEGER REFERENCES dim_insurance(insurance_key),\n    current_age     SMALLINT\n);\n\n-- fact_appointment\nCREATE TABLE fact_appointment (\n    appointment_key          SERIAL PRIMARY KEY,\n    appointment_id           VARCHAR(10) NOT NULL,\n    slot_id                  VARCHAR(10) NOT NULL,\n    appointment_date_key     INTEGER NOT NULL REFERENCES dim_date(date_key),\n    scheduling_date_key      INTEGER NOT NULL REFERENCES dim_date(date_key),\n    appointment_time_key     INTEGER NOT NULL REFERENCES dim_time(time_key),\n    check_in_time_key        INTEGER REFERENCES dim_time(time_key),\n    start_time_key           INTEGER REFERENCES dim_time(time_key),\n    end_time_key             INTEGER REFERENCES dim_time(time_key),\n    patient_key              INTEGER REFERENCES dim_patient(patient_key),\n    status_key               INTEGER NOT NULL REFERENCES dim_status(status_key),\n    age_group_key            INTEGER REFERENCES dim_age_group(age_group_key),\n    scheduling_lead_days     SMALLINT,\n    appointment_duration_min NUMERIC(5,2),\n    waiting_time_min         NUMERIC(5,2),\n    age_at_appointment       SMALLINT,\n    is_same_day_booking      BOOLEAN,\n    arrived_early            BOOLEAN,\n    arrived_late             BOOLEAN\n);\n\nCREATE INDEX idx_fact_appt_date ON fact_appointment(appointment_date_key);\nCREATE INDEX idx_fact_sched_date ON fact_appointment(scheduling_date_key);\nCREATE INDEX idx_fact_patient ON fact_appointment(patient_key);\nCREATE INDEX idx_fact_status ON fact_appointment(status_key);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [750, 0],
      "id": "dwh-schema",
      "name": "3. Create DWH Schema",
      "credentials": {
        "postgres": {
          "id": "dwh",
          "name": "Postgres DWH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- =============================================\n-- DWH: Populate dim_date (2014-2025)\n-- =============================================\nINSERT INTO dim_date\nSELECT \n    TO_CHAR(d, 'YYYYMMDD')::INT,\n    d,\n    EXTRACT(ISODOW FROM d)::SMALLINT,\n    TRIM(TO_CHAR(d, 'Day')),\n    EXTRACT(DAY FROM d)::SMALLINT,\n    EXTRACT(DOY FROM d)::SMALLINT,\n    EXTRACT(WEEK FROM d)::SMALLINT,\n    EXTRACT(MONTH FROM d)::SMALLINT,\n    TRIM(TO_CHAR(d, 'Month')),\n    EXTRACT(QUARTER FROM d)::SMALLINT,\n    EXTRACT(YEAR FROM d)::SMALLINT,\n    EXTRACT(ISODOW FROM d) IN (6,7),\n    EXTRACT(ISODOW FROM d) NOT IN (6,7)\nFROM generate_series('2014-01-01'::DATE, '2025-12-31'::DATE, '1 day') d;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1000, -150],
      "id": "dwh-dim-date",
      "name": "4a. dim_date",
      "credentials": {
        "postgres": {
          "id": "dwh",
          "name": "Postgres DWH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- =============================================\n-- DWH: Populate dim_time (00:00-23:45, 15-min)\n-- =============================================\nINSERT INTO dim_time\nSELECT \n    (EXTRACT(HOUR FROM t)*100 + EXTRACT(MINUTE FROM t))::INT,\n    t,\n    EXTRACT(HOUR FROM t)::SMALLINT,\n    CASE WHEN EXTRACT(HOUR FROM t)=0 THEN 12 \n         WHEN EXTRACT(HOUR FROM t)>12 THEN EXTRACT(HOUR FROM t)-12 \n         ELSE EXTRACT(HOUR FROM t) END::SMALLINT,\n    EXTRACT(MINUTE FROM t)::SMALLINT,\n    CASE WHEN EXTRACT(HOUR FROM t)<12 THEN 'AM' ELSE 'PM' END,\n    TO_CHAR(t,'HH24:MI')||'-'||TO_CHAR(t+'15 min'::INTERVAL,'HH24:MI'),\n    CASE WHEN EXTRACT(HOUR FROM t) BETWEEN 6 AND 11 THEN 'Morning'\n         WHEN EXTRACT(HOUR FROM t) BETWEEN 12 AND 17 THEN 'Afternoon'\n         ELSE 'Evening' END,\n    EXTRACT(HOUR FROM t) BETWEEN 8 AND 17\nFROM generate_series('00:00'::TIME, '23:45'::TIME, '15 min') t;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1000, 0],
      "id": "dwh-dim-time",
      "name": "4b. dim_time",
      "credentials": {
        "postgres": {
          "id": "dwh",
          "name": "Postgres DWH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- =============================================\n-- DWH: Populate dim_status (static)\n-- =============================================\nINSERT INTO dim_status (status_code, status_name, status_category, is_completed, is_no_show) VALUES\n    ('available',      'Available',      'pending',  FALSE, FALSE),\n    ('scheduled',      'Scheduled',      'pending',  FALSE, FALSE),\n    ('completed',      'Completed',      'attended', TRUE,  FALSE),\n    ('cancelled',      'Cancelled',      'missed',   FALSE, FALSE),\n    ('no-show',        'No Show',        'missed',   FALSE, TRUE),\n    ('did not attend', 'Did Not Attend', 'missed',   FALSE, TRUE);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1000, 150],
      "id": "dwh-dim-status",
      "name": "4c. dim_status",
      "credentials": {
        "postgres": {
          "id": "dwh",
          "name": "Postgres DWH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- =============================================\n-- DWH: Populate dim_age_group (static)\n-- =============================================\nINSERT INTO dim_age_group (age_group_code, age_min, age_max, age_bracket, sort_order) VALUES\n    ('15-19', 15, 19, 'Young Adult', 1),\n    ('20-24', 20, 24, 'Young Adult', 2),\n    ('25-29', 25, 29, 'Adult', 3),\n    ('30-34', 30, 34, 'Adult', 4),\n    ('35-39', 35, 39, 'Adult', 5),\n    ('40-44', 40, 44, 'Adult', 6),\n    ('45-49', 45, 49, 'Middle Age', 7),\n    ('50-54', 50, 54, 'Middle Age', 8),\n    ('55-59', 55, 59, 'Middle Age', 9),\n    ('60-64', 60, 64, 'Senior', 10),\n    ('65-69', 65, 69, 'Senior', 11),\n    ('70-74', 70, 74, 'Senior', 12),\n    ('75-79', 75, 79, 'Senior', 13),\n    ('80-84', 80, 84, 'Elderly', 14),\n    ('85-89', 85, 89, 'Elderly', 15),\n    ('90+',   90, 120,'Elderly', 16);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1000, 300],
      "id": "dwh-dim-age",
      "name": "4d. dim_age_group",
      "credentials": {
        "postgres": {
          "id": "dwh",
          "name": "Postgres DWH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT insurance FROM stg_patients WHERE insurance IS NOT NULL ORDER BY insurance;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1250, -75],
      "id": "stg-read-insurance",
      "name": "5a. Read Insurance from STG",
      "credentials": {
        "postgres": {
          "id": "stg",
          "name": "Postgres STG"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "dim_insurance",
        "columns": "insurance_name",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1500, -75],
      "id": "dwh-insert-insurance",
      "name": "5b. Insert dim_insurance",
      "credentials": {
        "postgres": {
          "id": "dwh",
          "name": "Postgres DWH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT patient_id, name, sex, dob, insurance FROM stg_patients;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1750, -75],
      "id": "stg-read-patients",
      "name": "6a. Read Patients from STG",
      "credentials": {
        "postgres": {
          "id": "stg",
          "name": "Postgres STG"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform patients: lookup insurance_key, calculate age\nconst items = $input.all();\nconst insuranceLookup = {};\n\n// Build insurance lookup from previous dim_insurance data\n// Note: In production, you'd query dim_insurance first\n// For now, we'll pass insurance_name and let SQL handle the join\n\nreturn items.map(item => {\n  const dob = item.json.dob;\n  const birthDate = new Date(dob);\n  const today = new Date();\n  let age = today.getFullYear() - birthDate.getFullYear();\n  const m = today.getMonth() - birthDate.getMonth();\n  if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) age--;\n  \n  return {\n    json: {\n      patient_id: item.json.patient_id,\n      patient_name: item.json.name,\n      sex: item.json.sex,\n      date_of_birth: dob,\n      insurance_name: item.json.insurance,\n      current_age: age\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, -75],
      "id": "transform-patients",
      "name": "6b. Transform Patients"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dim_patient (patient_id, patient_name, sex, date_of_birth, insurance_key, current_age)\nVALUES (\n    '{{ $json.patient_id }}',\n    '{{ $json.patient_name }}',\n    '{{ $json.sex }}',\n    '{{ $json.date_of_birth }}'::DATE,\n    (SELECT insurance_key FROM dim_insurance WHERE insurance_name = '{{ $json.insurance_name }}'),\n    {{ $json.current_age }}\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2250, -75],
      "id": "dwh-insert-patients",
      "name": "6c. Insert dim_patient",
      "credentials": {
        "postgres": {
          "id": "dwh",
          "name": "Postgres DWH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    appointment_id, slot_id, scheduling_date, appointment_date,\n    appointment_time, scheduling_interval, status, check_in_time,\n    appointment_duration, start_time, end_time, waiting_time,\n    patient_id, age, age_group\nFROM stg_appointments;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2500, -75],
      "id": "stg-read-appointments",
      "name": "7a. Read Appointments from STG",
      "credentials": {
        "postgres": {
          "id": "stg",
          "name": "Postgres STG"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform appointments: calculate derived fields and keys\nconst items = $input.all();\n\nreturn items.map(item => {\n  const j = item.json;\n  \n  // Date keys (YYYYMMDD)\n  const apptDateKey = j.appointment_date.replace(/-/g, '');\n  const schedDateKey = j.scheduling_date.replace(/-/g, '');\n  \n  // Time key helper (HHMM)\n  const timeToKey = (t) => {\n    if (!t || t === '') return null;\n    const [h, m] = t.split(':');\n    return parseInt(h) * 100 + parseInt(m);\n  };\n  \n  const apptTimeKey = timeToKey(j.appointment_time);\n  const checkInKey = timeToKey(j.check_in_time);\n  const startKey = timeToKey(j.start_time);\n  const endKey = timeToKey(j.end_time);\n  \n  // Derived flags\n  const isSameDay = j.scheduling_date === j.appointment_date;\n  let arrivedEarly = null;\n  let arrivedLate = null;\n  if (j.check_in_time && j.appointment_time) {\n    arrivedEarly = j.check_in_time < j.appointment_time;\n    arrivedLate = j.check_in_time > j.appointment_time;\n  }\n  \n  return {\n    json: {\n      appointment_id: j.appointment_id,\n      slot_id: j.slot_id,\n      appointment_date_key: parseInt(apptDateKey),\n      scheduling_date_key: parseInt(schedDateKey),\n      appointment_time_key: apptTimeKey,\n      check_in_time_key: checkInKey,\n      start_time_key: startKey,\n      end_time_key: endKey,\n      patient_id: j.patient_id,\n      status: j.status,\n      age_group: j.age_group || null,\n      scheduling_lead_days: j.scheduling_interval ? parseInt(j.scheduling_interval) : null,\n      appointment_duration_min: j.appointment_duration ? parseFloat(j.appointment_duration) : null,\n      waiting_time_min: j.waiting_time ? parseFloat(j.waiting_time) : null,\n      age_at_appointment: j.age ? parseInt(j.age) : null,\n      is_same_day_booking: isSameDay,\n      arrived_early: arrivedEarly,\n      arrived_late: arrivedLate\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2750, -75],
      "id": "transform-appointments",
      "name": "7b. Transform Appointments"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fact_appointment (\n    appointment_id, slot_id,\n    appointment_date_key, scheduling_date_key,\n    appointment_time_key, check_in_time_key, start_time_key, end_time_key,\n    patient_key, status_key, age_group_key,\n    scheduling_lead_days, appointment_duration_min, waiting_time_min, age_at_appointment,\n    is_same_day_booking, arrived_early, arrived_late\n)\nVALUES (\n    '{{ $json.appointment_id }}',\n    '{{ $json.slot_id }}',\n    {{ $json.appointment_date_key }},\n    {{ $json.scheduling_date_key }},\n    {{ $json.appointment_time_key }},\n    {{ $json.check_in_time_key ?? 'NULL' }},\n    {{ $json.start_time_key ?? 'NULL' }},\n    {{ $json.end_time_key ?? 'NULL' }},\n    (SELECT patient_key FROM dim_patient WHERE patient_id = '{{ $json.patient_id }}'),\n    (SELECT status_key FROM dim_status WHERE status_code = '{{ $json.status }}'),\n    (SELECT age_group_key FROM dim_age_group WHERE age_group_code = '{{ $json.age_group }}'),\n    {{ $json.scheduling_lead_days ?? 'NULL' }},\n    {{ $json.appointment_duration_min ?? 'NULL' }},\n    {{ $json.waiting_time_min ?? 'NULL' }},\n    {{ $json.age_at_appointment ?? 'NULL' }},\n    {{ $json.is_same_day_booking }},\n    {{ $json.arrived_early ?? 'NULL' }},\n    {{ $json.arrived_late ?? 'NULL' }}\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3000, -75],
      "id": "dwh-insert-appointments",
      "name": "7c. Insert fact_appointment",
      "credentials": {
        "postgres": {
          "id": "dwh",
          "name": "Postgres DWH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'dim_date' AS tbl, COUNT(*) AS cnt FROM dim_date\nUNION ALL SELECT 'dim_time', COUNT(*) FROM dim_time\nUNION ALL SELECT 'dim_status', COUNT(*) FROM dim_status\nUNION ALL SELECT 'dim_age_group', COUNT(*) FROM dim_age_group\nUNION ALL SELECT 'dim_insurance', COUNT(*) FROM dim_insurance\nUNION ALL SELECT 'dim_patient', COUNT(*) FROM dim_patient\nUNION ALL SELECT 'fact_appointment', COUNT(*) FROM fact_appointment\nORDER BY tbl;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3250, -75],
      "id": "dwh-verify",
      "name": "8. Verify Counts",
      "credentials": {
        "postgres": {
          "id": "dwh",
          "name": "Postgres DWH"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "insurance",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1375, -75],
      "id": "split-insurance",
      "name": "Split Insurance"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ins-name",
              "name": "insurance_name",
              "value": "={{ $json.insurance }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1435, -75],
      "id": "set-insurance",
      "name": "Map Field"
    }
  ],
  "pinData": {},
  "connections": {
    "Start ETL": {
      "main": [[{"node": "1. Create STG Tables", "type": "main", "index": 0}]]
    },
    "1. Create STG Tables": {
      "main": [[{"node": "2. Load CSVs to STG", "type": "main", "index": 0}]]
    },
    "2. Load CSVs to STG": {
      "main": [[{"node": "3. Create DWH Schema", "type": "main", "index": 0}]]
    },
    "3. Create DWH Schema": {
      "main": [[
        {"node": "4a. dim_date", "type": "main", "index": 0},
        {"node": "4b. dim_time", "type": "main", "index": 0},
        {"node": "4c. dim_status", "type": "main", "index": 0},
        {"node": "4d. dim_age_group", "type": "main", "index": 0}
      ]]
    },
    "4a. dim_date": {
      "main": [[{"node": "5a. Read Insurance from STG", "type": "main", "index": 0}]]
    },
    "4b. dim_time": {
      "main": [[{"node": "5a. Read Insurance from STG", "type": "main", "index": 0}]]
    },
    "4c. dim_status": {
      "main": [[{"node": "5a. Read Insurance from STG", "type": "main", "index": 0}]]
    },
    "4d. dim_age_group": {
      "main": [[{"node": "5a. Read Insurance from STG", "type": "main", "index": 0}]]
    },
    "5a. Read Insurance from STG": {
      "main": [[{"node": "Split Insurance", "type": "main", "index": 0}]]
    },
    "Split Insurance": {
      "main": [[{"node": "Map Field", "type": "main", "index": 0}]]
    },
    "Map Field": {
      "main": [[{"node": "5b. Insert dim_insurance", "type": "main", "index": 0}]]
    },
    "5b. Insert dim_insurance": {
      "main": [[{"node": "6a. Read Patients from STG", "type": "main", "index": 0}]]
    },
    "6a. Read Patients from STG": {
      "main": [[{"node": "6b. Transform Patients", "type": "main", "index": 0}]]
    },
    "6b. Transform Patients": {
      "main": [[{"node": "6c. Insert dim_patient", "type": "main", "index": 0}]]
    },
    "6c. Insert dim_patient": {
      "main": [[{"node": "7a. Read Appointments from STG", "type": "main", "index": 0}]]
    },
    "7a. Read Appointments from STG": {
      "main": [[{"node": "7b. Transform Appointments", "type": "main", "index": 0}]]
    },
    "7b. Transform Appointments": {
      "main": [[{"node": "7c. Insert fact_appointment", "type": "main", "index": 0}]]
    },
    "7c. Insert fact_appointment": {
      "main": [[{"node": "8. Verify Counts", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "versionId": "etl-v4",
  "meta": {"instanceId": "medical-appointments-bi"},
  "id": "etl-medical-appointments",
  "tags": ["etl", "star-schema"]
}
